<div class="w-72 min-h-screen bg-zinc-950 border-r border-zinc-800 flex flex-col justify-between">

    <div>

        <div class="p-6 border-b border-zinc-800">

            <h1 class="text-4xl font-extrabold text-cyan-400 tracking-wide">
                SENTINELX
            </h1>

            <p class="text-zinc-500 mt-2 text-sm">
                AI Powered Security
            </p>

        </div>

        <nav class="p-4 space-y-2">

            <a routerLink="/"
                class="flex items-center gap-3 bg-cyan-500/20 text-cyan-400 p-4 rounded-2xl border border-cyan-500/20">
                <span>🏠</span>
                <span>Dashboard</span>
            </a>

            <a routerLink="/cameras"
                class="flex items-center gap-3 hover:bg-zinc-900 text-zinc-300 p-4 rounded-2xl transition">
                <span>📷</span>
                <span>Cameras</span>
            </a>
            <a routerLink="/alerts"
                class="flex items-center gap-3 hover:bg-zinc-900 text-zinc-300 p-4 rounded-2xl transition">
                <span>🚨</span>
                <span>Alerts</span>
            </a>

            <a routerLink="/zones"
                class="flex items-center gap-3 hover:bg-zinc-900 text-zinc-300 p-4 rounded-2xl transition">
                <span>🛡️</span>
                <span>Restricted Zones</span>
            </a>

            <a routerLink="/reports"
                class="flex items-center gap-3 hover:bg-zinc-900 text-zinc-300 p-4 rounded-2xl transition">
                <span>📊</span>
                <span>Reports</span>
            </a>

            <a routerLink="/settings"
                class="flex items-center gap-3 hover:bg-zinc-900 text-zinc-300 p-4 rounded-2xl transition">
                <span>⚙️</span>
                <span>Settings</span>
            </a>

        </nav>

    </div>

    <div class="p-5">

        <div class="bg-zinc-900 border border-zinc-800 rounded-3xl p-5">

            <div class="flex items-center gap-3">

                <div class="w-4 h-4 bg-emerald-500 rounded-full animate-pulse"></div>

                <p class="text-emerald-400 font-semibold">
                    System Secure
                </p>

            </div>

            <p class="text-zinc-500 text-sm mt-3">
                All monitoring systems working correctly.
            </p>

        </div>

    </div>

</div>