<div class="h-screen w-72 bg-zinc-950 border-l border-zinc-800 flex flex-col justify-between">

  <div>

    <!-- الشعار -->
    <div class="p-6 border-b border-zinc-800 text-right">

      <h1 class="text-4xl font-extrabold text-cyan-400 tracking-wide">
        SENTINELX
      </h1>

      <p class="text-zinc-500 mt-2 text-sm">
        نظام مراقبة ذكي
      </p>

    </div>

    <!-- القائمة -->
    <nav class="p-4 space-y-2">

      <!-- لوحة التحكم -->
      <a
        routerLink="/"
        class="flex items-center justify-end gap-3 bg-cyan-500/20 text-cyan-400 p-4 rounded-2xl border border-cyan-500/20"
      >
        <span>لوحة التحكم</span>
        <span>🏠</span>
      </a>

      <!-- الكاميرات -->
      <a
        routerLink="/cameras"
        class="flex items-center justify-end gap-3 hover:bg-zinc-900 text-zinc-300 p-4 rounded-2xl transition"
      >
        <span>الكاميرات</span>
        <span>📷</span>
      </a>

      <!-- التنبيهات -->
      <a
        routerLink="/alerts"
        class="flex items-center justify-end gap-3 hover:bg-zinc-900 text-zinc-300 p-4 rounded-2xl transition"
      >
        <span>التنبيهات</span>
        <span>🚨</span>
      </a>

      <!-- المناطق المحظورة -->
      <a
        routerLink="/zones"
        class="flex items-center justify-end gap-3 hover:bg-zinc-900 text-zinc-300 p-4 rounded-2xl transition"
      >
        <span>المناطق المحظورة</span>
        <span>🛡️</span>
      </a>

      <!-- التقارير -->
      <a
        routerLink="/reports"
        class="flex items-center justify-end gap-3 hover:bg-zinc-900 text-zinc-300 p-4 rounded-2xl transition"
      >
        <span>التقارير</span>
        <span>📊</span>
      </a>

      <!-- الإعدادات -->
      <a
        routerLink="/settings"
        class="flex items-center justify-end gap-3 hover:bg-zinc-900 text-zinc-300 p-4 rounded-2xl transition"
      >
        <span>الإعدادات</span>
        <span>⚙️</span>
      </a>

    </nav>

  </div>

  <!-- حالة النظام -->
  <div class="p-5">

    <div class="bg-zinc-900 border border-zinc-800 rounded-3xl p-5">

      <div class="flex items-center justify-end gap-3">

        <p class="text-emerald-400 font-semibold">
          النظام يعمل بشكل طبيعي
        </p>

        <div class="w-4 h-4 bg-emerald-500 rounded-full animate-pulse"></div>

      </div>

      <p class="text-zinc-500 text-sm mt-3 text-right leading-7">
        جميع أنظمة المراقبة والكشف تعمل بكفاءة واستقرار.
      </p>

    </div>

  </div>

</div>